<header>
    <h1>Formulaire de contact</h1>
</header>
<section>
    <h2></h2>
    <article>
        <h2 class="answer">Merci <span><%= nom %></span> pour votre message :</h2>
        <pre class="userMessage"><%= msg %></pre>
        <p>Une réponse sera envoyé à l'adresse que vous avez donné: <span class="color"><%= mail %></span></p>
        <a href="../contact">Revenir aux messages</a>
    </article>
</section>
